@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@300&display=swap');
/* font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif; */


body
{
    padding: 10px;
    margin: 0;
}
.logo
{
    
    transform:translateX(-45%);
}
h1
{
    font-family: 'Nunito', sans-serif;
}
h2
{
    font-family: 'Nunito', sans-serif;
}

.error_msg
{
    display: none;
    width: 50%;
    padding: 10px;
    margin:0 auto;
    border-radius: 2px;
    background-color: rgba(255, 0, 0, 0.100);
    color: red;
    animation: error_end 10s;
}
@keyframes error_end {

    form
    {
        display: block;
        opacity: 100%;
    }
    to
    {   opacity: 0;
        display: none;
    }
    
}


.container
{
    width: 80%;
    background-image: linear-gradient(lightblue,white,lightblue);
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;


}
form
{
   display: flex;
   flex-direction: column;
   justify-content: center;
    position: relative;
    margin: 0 auto;
    padding: 40px;
    
    
    width: 50%;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
}
table
{
    margin: 0 auto;
    gap:30px;
}
 table tr td
{
    border: none;
}
#login_btn
{
    margin: 20px;
    border-radius: 5px ;
    width: 50%;
    padding: 10px;
    background-color: lightblue;
}